# /etc/udev/rules.d/99-local-video.rules

#Depstech webcam MIC
KERNEL=="video*",SUBSYSTEM=="video4linux",SUBSYSTEMS=="usb",ATTRS{idProduct}=="28c4",ATTRS{idVendor}=="1bcf",ENV{ID_V4L_CAPABILITIES}==":capture:",SYMLINK+="video-outside"
#web camera for no maker
KERNEL=="video*",SUBSYSTEM=="video4linux",SUBSYSTEMS=="usb",ATTRS{idProduct}=="0103",ATTRS{idVendor}=="1d6c",ENV{ID_V4L_CAPABILITIES}==":capture:",SYMLINK+="video-inside"
