# /etc/udev/rules.d/99-local-audio.rules

# For alsa card naming (check with `cat /proc/asound/cards`)
#
SUBSYSTEM!="sound", GOTO="alsa_naming_end"
ACTION!="add", GOTO="alsa_naming_end"

# DEVPATH can be obtained by looking at `udevadm monitor --subsystem=sound` and while pluging in the sound card.
# Do one card at a time, the "?" char on card should stay as it matches any card number that may pop on that USB port.
DEVPATH=="/devices/70090000.xusb/usb1/1-2/1-2.1/1-2.1:1.2/sound/card?", ATTR{id}="audio-outside"
DEVPATH=="/devices/70090000.xusb/usb1/1-2/1-2.3/1-2.3:1.2/sound/card?", ATTR{id}="audio-inside"


LABEL="alsa_naming_end"

#
# For pulsaudio card naming (check with `pacmd list-sources`)
#
# This could go in a separate file if you want
SUBSYSTEM!="sound", GOTO="pa_naming_end"
ACTION!="change", GOTO="pa_naming_end"
KERNEL!="card*", GOTO="pa_naming_end"

# Same as before, edit this block at will.
DEVPATH=="/devices/70090000.xusb/usb1/1-2/1-2.1/1-2.1:1.2/sound/card?", ATTR{id}="audio-outside"
DEVPATH=="/devices/70090000.xusb/usb1/1-2/1-2.3/1-2.3:1.2/sound/card?", ATTR{id}="audio-inside"


LABEL="pa_naming_end"